body{
  background-color: #78AEFF;
}
.container{
  margin: 0;
  font-family:Roboto;


    width: 99vw;
   
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.header {

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
 
 
}


